body{
	background: #F9F9F9;
}
.banxin{
	width: 855px;
	margin: 0 auto;
}
.bk{
	width: 855px;
	height: 496px;
	background: #fff;
	margin: 86px auto 10px auto;
}
.bk>img{
	display: block;
	margin: 0 auto;
}
.bk>h3{
	font-size: 28px;
	text-align: center;
	line-height: 1;
	margin: 48px 0 54px 0;
	color: #333;
}
.bk>h4{
	font-size: 14px;
	text-align: center;
	line-height: 1;
	color: #666;
	margin-bottom: 24px;
}
.bk>form{
	margin-left: 262px;
	overflow: hidden;
	position: relative;
}
.bk>form>input::placeholder{
	color: #9d9d9d;

}
.bk>form>input:nth-of-type(1){
	width: 330px ;
	height: 40px;
	outline: none;
	border: 1px solid #e8e8e8;
	text-indent: 1em;
	display: block;
	margin-bottom: 20px;
	

}
.bk>form>input:nth-of-type(2){
	width: 190px ;
	height: 40px;
	outline: none;
	border: 1px solid #e8e8e8;
	display: inline-block;
	text-indent: 1em;
	float: left;

}
.bk>form>.yzm{
	width: 120px;
	height: 41px;
	background: pink;
	float: left;
	margin-left: 20px;
	
}
.bk>form>.yzm:hover{
	cursor: pointer;
}
.bk>form>h5{
	width: 310px;
	height: 34px;
	line-height: 20px;
	font-size: 12px;
	color: #c5c5c5;
	display: block;
	float: left;
	margin: 60px 0 0 -330px;
}
.bk>form>h6{
	line-height: 1;
	font-size: 12px;
	color: #46639c;
	display: block;
	float: left;
	margin: 2px 0 0 302px;
	text-decoration: underline;
}
.bk>form>h6:hover{
	text-decoration: none;
}
.bk>form>input:nth-of-type(3){
	width: 330px;
	height: 40px;
	background: #ff6700;
	color: #fff;
	margin-top: 18px;
}
.bk>form>input:nth-of-type(3):hover{
	cursor: pointer;
	background: #FF936A;
}
.footer>ul{

	display: flex;
	margin:0 0 20px 310px;

	
}
.footer>ul>li{
	font-size: 12px;

}
.footer>ul>li>a{
	color: #333;
	
}
.footer>ul>li>a>span{
	margin:0 14px 0 12px;
}
.footer>div{
	margin-left: 146px;
}
.footer>div>span:nth-of-type(1){
	color: #999;
	font-size: 13px;
	
}
.footer>div>span:nth-of-type(2) a{
	color: #999;
	font-size: 13px;

	background: url;
}

.bk>form>span:nth-of-type(1){
	position: absolute;
	left: 0;
	top:40px;
	text-indent: 20px;
	font-size: 14px;
	display: none;
	
}
.bk>form>span:nth-of-type(2){
	position: absolute;
	left: 0;
	top:106px;
	font-size: 14px;
	text-indent: 20px;
	display: none;
	
}
.bk>form>span>img{
	width: 14px;
	height: 14px;
}
.bk>form>img:nth-of-type(1){
	position: absolute;
	left: 0;
	top:44px;
	width: 14px;
	height: 14px;
	opacity: 0;
	
}

.bk>form>img:nth-of-type(2){
	position: absolute;
	left: 0;
	top:106px;
	width: 14px;
	height: 14px;
	opacity: 0;
	
}