@font-face {
	font-family: 'iconfont';
	src: url('../font/personal1/iconfont.eot');
	src: url('../font/personal1/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/personal1/iconfont.woff2') format('woff2'), url('../font/personal1/iconfont.woff') format('woff'), url('../font/personal1/iconfont.ttf') format('truetype'), url('../font/personal1/iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tc>div span {
	opacity: 0;
	position: absolute;
	color: #ff6700;
	transition: all 1.5s;
}

.tc>div {
	position: relative;
	margin: 0;
	padding: 0;
}

.tc>div span {
	left: 50px;
	top: 30px;
}

.tc>div:nth-of-type(3) {
	width: 100px;
	height: 130px;
}

.tc>div:nth-of-type(4) span {
	left: 51px;
	top: 13px;
}

.tc>div:nth-of-type(2) span {
	left: 360px;
}

.tc>div:nth-of-type(6) span {
	left: 360px;
	top: 12px;
}

.tc>div:nth-of-type(5) span {
	top: 11px;
}

.jia {
	line-height: 30px;
	width: 30px;
	background: #F5F5F5;
	display: inline-block;
	outline: none;
}

.jia:hover {
	width: 30px;
	line-height: 30px;
	background: #E53935;
	display: inline-block;
	outline: none;
	border-radius: 50%;
}

.tc div:nth-of-type(1)>input {
	float: left;
	width: 280px;
	height: 40px;
	margin: 20px 10px 20px 20px;
	text-indent: 2em;
	outline: none;
	position: relative;
	z-index: 0;
}

.tc div:nth-of-type(2) input {
	width: 280px;
	height: 40px;
	float: left;
	margin: 20px 10px 20px 20px;
	text-indent: 2em;
	outline: none;
}

.tc div:nth-of-type(3)>input {
	width: 590px;
	height: 40px;
	margin: 0 0 20px 20px;
	text-indent: 2em;
	outline: none;
}

.tc div:nth-of-type(4) textarea {
	outline: none;
	resize: vertical;
	width: 590px;
	height: 62px;
	margin: 10px 0 20px 0;
	text-indent: 2em;
	border: 1px solid #E0E0E0;
}

.tc div:nth-of-type(5) input {
	float: left;
	width: 280px;
	height: 40px;
	margin: 0 10px 20px 20px;
	text-indent: 2em;
	outline: none;
}

.tc div:nth-of-type(6) input {
	width: 280px;
	height: 40px;
	float: left;
	margin: 0 10px 20px 20px;
	text-indent: 2em;
	outline: none;
}

.tc div input {
	border: 1px solid #e0e0e0;
}

.btn-primary {
	width: 270px;
	height: 180px;
	background: #fff;
	border: 1px solid #e0e0e0;
}

.btn-primary:active {
	background: #fff !important;
	outline: none;
}

.xtc {
	width: 590px;
	height: 190px;
	border: 1px solid #e0e0e0;
	background: #fff;
	position: absolute;
	top: 80px;
	left: 20px;
	z-index: 1;
	display: none;
}

.tc .xtc .text1 {
	width: 540px;
	height: 44px;
	margin-top: 40px;
	border: 1px solid #e0e0e0;
	text-indent: 4em;
}

.xtc>b {
	position: absolute;
	right: 16px;
	top: 12px;
	font-size: 8px;
	color: #e0e0e0;
}

.xtc>u {
	text-decoration: none;
	position: absolute;
	left: 38px;
	top: 46px;
	color: #e0e0e0;
	font-size: 24px;
	font-weight: 600;
}

.xtc>strong {
	font-size: 12px;
	line-height: 1;
	margin: 14px 0 14px 20px;
	position: absolute;
	left: 1px;
	top: 90px;
	display: inline-block;
	font-weight: 500;
	color: #e0e0e0;
}

.xtc>hr {
	width: 540px;
	height: 1px;
	background: #e0e0e0;
	position: absolute;
	top: 112px;
	left: 20px;
}

.xtc>h4 {
	font-size: 12px;
	line-height: 1;
	margin: 14px 0 14px 20px;
	position: absolute;
	left: 0;
	top: 140px;
	color: #e0e0e0;
}